In [1]:
import numpy as np

In [8]:
temperatures_w1 = np.array([22.5, 25.3, 20.8, 23.4, 26.1, 24.8, 21.9])

In [9]:
reshaped = temperatures_w1.reshape(-1, 1)
print(reshaped)

[[22.5]
 [25.3]
 [20.8]
 [23.4]
 [26.1]
 [24.8]
 [21.9]]

In [10]:
fahrenheit_w1 = (temperatures_w1 * 9/5) + 32
print(fahrenheit_w1)

[72.5  77.54 69.44 74.12 78.98 76.64 71.42]

In [13]:
mintemp=temperatures_w1.min()
print(mintemp)

20.8

In [16]:
maxtemp=temperatures_w1.max()
print(maxtemp)

26.1

In [17]:
meantemp=temperatures_w1.mean()
print(meantemp)

23.542857142857144

In [26]:
print(temperatures_w1[1:3])

[25.3 20.8]

In [22]:
print(temperatures_w1[-2:])

[24.8 21.9]

In [23]:
print(temperatures_w1[3:5])

[23.4 26.1]

In [27]:
temperatures = np.array([
    [22.5, 25.3, 20.8, 23.4, 26.1, 24.8, 21.9],
    [19.2, 22.5, 21.3, 24.0, 23.5, 22.8, 20.1]])

In [30]:
temperatures.shape

(2, 7)

In [31]:
type(temperatures)

numpy.ndarray

In [33]:
temperatures.sum()

np.float64(318.20000000000005)

In [34]:
weekend_w1 = temperatures[0, -2:]

In [35]:
print("Weekend temperatures (Week 1):", weekend_w1)

Weekend temperatures (Week 1): [24.8 21.9]

In [36]:
weekend_w2 = temperatures[0, -2:]

In [39]:
print("Weekend temperatures (Week 2):", weekend_w2)

Weekend temperatures (Week 2): [24.8 21.9]

In [40]:
import pandas as pd

In [58]:
import pandas as pd
marks = pd.Series([95, 92, 89, 85, 80],index=['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5'])
print(marks)

Rank1    95
Rank2    92
Rank3    89
Rank4    85
Rank5    80
dtype: int64

In [44]:
print("1st rank (by position):", mark[0])

1st rank (by position): 95

In [47]:
print("Top 3 ranks (by label):")
print(mark,[['Rank1', 'Rank2', 'Rank3']])

Top 3 ranks (by label):
[95 92 89 85 80] [['Rank1', 'Rank2', 'Rank3']]

In [48]:
print("3rd rank (by position):", mark[2])

3rd rank (by position): 89

In [49]:
high_scores = mark[mark > 90]
print("Ranks with marks > 90:")
print(high_scores)

Ranks with marks > 90:
[95 92]

In [52]:
mark ={}
mark['Rank1'] = 100

In [66]:
data = {'TransactionID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
        'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Furniture','Clothing', 'Electronics', 'Furniture', 'Clothing','Furniture', 'Electronics'],
    'Region': ['North', 'South', 'North', 'East', 'West', 'North', 'East','West', 'South', 'North'],
    'Amount': [200, 150, 300, 450, 200, 250, 300, 180, 350, 400]}
transactions = pd.DataFrame(data)
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

In [67]:
print(transactions.head())     
print(transactions.tail())         
print("Shape:", transactions.shape)
print("Columns:", transactions.columns.tolist())
print("Data types:\n", transactions.dtypes)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
   TransactionID ProductCategory Region  Amount
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400
Shape: (10, 4)
Columns: ['TransactionID', 'ProductCategory', 'Region', 'Amount']
Data types:
 TransactionID       int64
ProductCategory    object
Region             object
Amount              int64
dtype: object

In [68]:
print(transactions[['ProductCategory', 'Amount']])

  ProductCategory  Amount
0     Electronics     200
1        Clothing     150
2     Electronics     300
3       Furniture     450
4        Clothing     200
5     Electronics     250
6       Furniture     300
7        Clothing     180
8       Furniture     350
9     Electronics     400

In [69]:
print(transactions.iloc[:, -3:])  # or use .loc[:, ['ProductCategory', 'Region', 'Amount']]

  ProductCategory Region  Amount
0     Electronics  North     200
1        Clothing  South     150
2     Electronics  North     300
3       Furniture   East     450
4        Clothing   West     200
5     Electronics  North     250
6       Furniture   East     300
7        Clothing   West     180
8       Furniture  South     350
9     Electronics  North     400

In [70]:
north_high = transactions[(transactions['Region'] == 'North') & (transactions['Amount'] > 200)]
print(north_high)

   TransactionID ProductCategory Region  Amount
2            103     Electronics  North     300
5            106     Electronics  North     250
9            110     Electronics  North     400

In [71]:
print(transactions['ProductCategory'].value_counts())

ProductCategory
Electronics    4
Clothing       3
Furniture      3
Name: count, dtype: int64

In [72]:
region_avg = transactions.groupby('Region')['Amount'].mean()
print(region_avg)

Region
East     375.0
North    287.5
South    250.0
West     190.0
Name: Amount, dtype: float64

In [83]:
transactions = pd.DataFrame({'TransactionID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Furniture','Clothing', 'Electronics', 'Furniture', 'Clothing','Furniture', 'Electronics'],
    'Region': ['North', 'South', 'North', 'East', 'West', 'North', 'East','West', 'South', 'North'],
    'Amount': [200, 150, 300, 450, 200, 250, 300, 180, 350, 400]})
transactions.loc[transactions['TransactionID'] == 102, 'Amount'] = 165
transactions['Discount'] = transactions['Amount'] * 0.10
transactions = transactions[transactions['TransactionID'] != 109]
transactions = transactions.drop(columns='Discount')
print(transactions)

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
9            110     Electronics  North     400